.addexp{
    display: inline-flex;
    padding: 200px 544px 273px 160px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.addexp h1 {
    width: 497px;
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.addexp-box {
    width: 1000px;
    display: flex;
    padding: 32px 40px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    border: 1px solid #f3f3f3;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.addexp-box .addexp-box-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 0px;
    border: none;
    background: none;
    box-shadow: none;
}

.addexp-box .addexp-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px;
}

.addbutton{
    width: 300px;
    height: 68px;
    padding: 25px;
    border-radius: 16px;
    border: 1px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
}

.addbutton:hover {
    background-color: rgb(234, 234, 234);
}