.employment {
  display: inline-flex;
  padding: 200px 544px 169px 160px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 64px;
}

.employment h1 {
  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.employment-box {
  display: flex;
  padding: 32px 40px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-bottom: 0px;
  border-radius: 16px;
  border: 1px solid #f3f3f3;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.employment-box .employment-box-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 0px;
  border: none;
  background: none;
  box-shadow: none;
}

.employment-box .employment-box-contents h4 {
  width: 497px;

  color: #4a4a4a;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.employment-box .employment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.employment-box .employment-form .company {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.employment-box .employment-form .title input {
  display: flex;
  width: 240px;
  height: 56px;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 16px;
  border: 1px solid #d9d9d9;
}

.employment-box .employment-form .company input {
  display: flex;
  width: 320px;
  height: 56px;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 16px;
  border: 1px solid #d9d9d9;
}

.employment-box .employment-form .location {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.employment-box .employment-form .location input {
  display: flex;
  width: 320px;
  height: 56px;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 16px;
  border: 1px solid #d9d9d9;
}

.employment-box .employment-form .currently {
  display: flex;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.employment-box .employment-form .currently label {
  width: 257px;
  color: var(--text-inactive, #4a4a4a);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.employment-box .employment-form .continue {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 16px;
}

.continue-btn {
  display: flex;
  padding: 16px 32px;;
  justify-content: center;
  align-items: center;
  gap: 16px;

  border-radius: 32px;
  background: #3818fd;

  border-width: 0px;

  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.employment-box .employment-form .continue h4 {
  color: #4a4a4a;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.employment-box .employment-form .continue .faq-div {
  display: flex;
  padding: 16px 0px;
  align-items: flex-start;
  gap: 10px;
}
