.header-div {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  padding-top: 5px;
  padding-bottom: 4px;
  border-bottom: solid #d9d9d9;
  stroke-width: 1px;
}

.header-div button {
  background-color: #ffffff;
  color: #4a4a4a;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.header-div h2 {
  color: #3818fd;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-right: 15px;
}

#signup {
  background-color: #3818fd;
  color: #ffffff;
  border-radius: 32px;
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
#signup a {
  color: #ffffff;
  text-decoration: none;
}

#signin a {
  color: #3818fd;
  text-decoration: none;
}

#search-input {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-color: text inactive;
  border-radius: 20px;
  padding: 7px;
  padding-left: 18px;
  margin-left: 28px;
}

.search-container {
  position: relative;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
}

.suggestions li {
  cursor: pointer;
  padding: 5px;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}

#search-button {
  margin-left: 10px;
  padding: 8px;
  cursor: pointer;
}