 
.header_div {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    padding-top: 5px;
    padding-bottom: 4px;
    border-bottom: solid #D9D9D9;
    stroke-width: 1px;
}

.header_div button{
    background-color: #FFFFFF;
    color: #4A4A4A;
    border: none;
    border-radius: 20px; /* Adjust the value to control the roundness */
    padding: 5px 10px; /* Add padding to make the button look better */
    cursor: pointer;
}

.header_div h2{
    color: #3818FD;
    margin: 0;
    margin-right: 15px;
    
}
#Signup{
    background-color: #3818FD;
    color: #FFFFFF;
    padding: 5px 20px
}

#searchInput{

    border-color: text inactive;
    border-radius:20px;
    padding: 7px ;
    padding-left: 18px;
    margin-left: 28px;
}
