.home .homediv1 {
  height: 112px;
  display: flex;
  flex-direction: row;
  padding: 30px 5px 5px 80px;
  gap: 32px;
}
.homediv1 p {
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  height: 29px;
  padding-top: 33px;
}
.homediv1 img {
  height: 100px;
  width: 150px;
}

.homediv3 {
  display: flex;
  flex-direction: row;
  border: solid 1px;
  border-color: #cdcdcd;
  padding: 10px;
  border-radius: 50px;
  margin: 20px;
  margin-top: 80px;
  margin-left: 160px;
  max-height: 7000px;
  width: 1125px;
  /* overflow:scroll; */
}

.homediv3 .experiences {
  width: 430px;
  height: 572px;
  padding: 12px;
  border-radius: 32px, 0px, 0px, 0px;
  gap: 32px;
  border-right: solid 1px;
  border-width: 0px;
  border-color: #cdcdcd;
  font-family: inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.about::before {
  width: 1px;
  background-color: #cdcdcd;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.about {
  padding: 12px;
  padding-left: 16px;
  width: 800px;
  gap: 16px;
  font-family: inter;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;
  border-left: solid 1px;
  border-color: #cdcdcd;
}

.about-bio {
  display: flex;
  padding: 24px 16px;
  padding-top: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.about-bio-header {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.bio-text {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  margin: 0px;
}

.about-bio-header p {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  margin: 0px;
}

.reviews img {
  height: 32px;
  width: 32px;
}

.attributes {
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: solid 1px;
  border-top: solid 1px;
  border-color: #cdcdcd;
}

.reviews {
  border-bottom: solid 1px;
  border-color: #cdcdcd;
}

.review-user-name {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.url-btn {
  background-color: #fff;
}

.bio-input {
  font-size: 16px;
  padding: 15px;
  border-radius: 15px;
  border: solid 1px;
  border-color: #cdcdcd;
}

.bio-input:focus {
  outline: none;
}

.key-attr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.key-attr-heading {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  margin: 0px;
}

.key-attr-subheading {
  color: var(--text-inactive, #4a4a4a);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

.attr-slider-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 32px;
}

.attr-slider-question-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.attr-slider-question {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

.attr-slider {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.attr-slider-ends {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin-top: 0px;
  padding: 0px;
}

.attr-slider-ends p {
  display: inline;
  margin: 0px;
}

.top-slider {
  margin-top: 32px;
}

.reviews-div {
    display: flex;
    width: 691px;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.reviews-div-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.reviews-div-header-title {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    margin: 0px;
}

.reviews-div-header-subtitle {
    color: var(--text-inactive, #4A4A4A);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}