.myreviews{
    align-items: center;
    justify-content: center ;
    display: inline-flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.myreviews h1{
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.myreviews .reviewlist{
    width: 800px;
    display: flex;
    padding: 28px 36px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    border: 1px solid #f3f3f3;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    max-height: 600px;
    overflow-y:auto;

}

.reviewdiv {
    padding: 12px 20px;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
}

.my-reviews-profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.my-reviews-btn {
    display: flex;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 32px;
    background: #3818FD;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-width: 0px;
    cursor: pointer;
}

.my-reviews-name {
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.my-reviews-sentence {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

.my-reviews-img {
    width: 48px;
    height: 48px;
    border-radius: 48px;
}