.details {
    display: inline-flex;
    padding: 200px 544px 273px 160px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.details h1 {
    width: 497px;
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.details-form {
    display: flex;
    padding: 32px 40px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    border: 1px solid #F3F3F3;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.details-form .details-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.details-form .details-box .names {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.details-form .details-box .preferred-pronouns input{
    display: flex;
    width: 240px;
    height: 56px;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 16px;
    border: 1px solid #D9D9D9;
}

.details-form .details-box .names input{
    display: flex;
    width: 320px;
    height: 56px;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 16px;
    border: 1px solid #D9D9D9;
}

.details-form .details-box .dob-gender {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.details-form .details-box .dob-gender input{
    display: flex;
    width: 320px;
    height: 56px;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 16px;
    border: 1px solid #D9D9D9;
}

.details-form .details-box .continue {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 16px;
}

.details-form .details-box .continue .continue-btn {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 16px;

    border-radius: 32px;
    background: #3818FD;

    border-width: 0px;

    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.details-form .details-box .continue h4 {
    color: #4A4A4A;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.details-form .details-box .continue .faq-div {
    display: flex;
    padding: 16px 0px;
    align-items: flex-start;
    gap: 10px;
}

